<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>Email Signatur - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main class="container">
            <div class="heading">
                <img id="achim-kraemer-image" src="{{ asset('images/20250519_1444_AK_Logo.png') }}" alt="Achim Krämer">
                <h2>Achim Krämer</h2>
            </div>
                <h1>Email Signatur</h1>
                {% if app.user and is_granted('ROLE_USER') %}
                    <div class="my-body-grid">
                        {% include '_sidebar.html.twig' %}
                {% else %}
                    <div>
                {% endif %}
                    <main>
                        {% block body %}{% endblock %}
                    </main>
                </div>
        </main>
        {% block footer %}
            {{ include('_footer.html.twig') }}
        {% endblock %}
    </body>
</html>
